build
/.gradle
/.idea
/db/out/production/classes/ilyag9/db/DBConfiguration.class
/db/out/production/classes/ilyag9/db/dao/AbstractDao.class
/db/out/production/classes/ilyag9/db/dao/Dao.class
/db/out/production/classes/ilyag9/db/dao/sensor/SensorDao.class
/db/out/production/classes/ilyag9/db/dao/sensor/SensorDaoImpl.class
/db/out/production/classes/ilyag9/db/dao/sensor/SensorEntity.class
/db/out/production/classes/ilyag9/db/dao/sensor/SensorParamEntity.class
/db/out/production/classes/ilyag9/db/dao/sensor/SensorValueDao.class
/db/out/production/classes/ilyag9/db/dao/sensor/SensorValueDaoImpl.class
/db/out/production/classes/ilyag9/db/dao/sensor/SensorValueEntity.class
/db/out/production/classes/ilyag9/db/dao/user/UserDao.class
/db/out/production/classes/ilyag9/db/dao/user/UserDaoImpl.class
/db/out/production/classes/ilyag9/db/dao/user/UserEntity.class
/db/out/production/classes/ilyag9/db/dao/user/UserRoleDao.class
/db/out/production/classes/ilyag9/db/dao/user/UserRoleDaoImpl.class
/db/out/production/classes/ilyag9/db/dao/user/UserRoleEntity.class
/db/out/production/resources/db.properties
/db/out/production/resources/log4j.xml
/main/out/production/classes/META-INF/ManagementSystem.main.main.kotlin_module
/main/out/production/classes/ilyag9/main/Start.class
/main/out/production/classes/ilyag9/main/rest/controller/SensorController.class
/main/out/production/classes/ilyag9/main/rest/dto/SensorDto.class
/main/out/production/classes/ilyag9/main/rest/dto/SensorParamDto.class
/main/out/production/resources/application.properties
/main/out/production/resources/log4j.xml
/main/out/production/resources/sql/init.sql
/main/out/production/resources/static/index.html
/sensors/out/production/classes/sensors/RequestTemperatureSensorData.class
/sensors/out/production/resources/log4j.xml
/sensors/out/production/resources/sensors.properties
/sensors/out/test/classes/sensors/RequestTemperatureSensorDataTest.class
/sensors/out/test/resources/log4j.xml
/sms/out/production/resources/hibernate.cfg.xml
/sms/out/production/resources/log4j.xml
/tempffplugin/borderify.js
/tempffplugin/icons/border-48.png
/tempffplugin/manifest.json
/tempffplugin/popup/popup.html
/web/manage/.idea
/main/out/production/classes/ilyag9/main/service/user/impl/*.class
/main/out/production/classes/ilyag9/main/service/user/*.class
/main/out/production/classes/ilyag9/main/rest/controller/*.class
/main/out/production/classes/ilyag9/main/security/*.class
